<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phishing Detection Classifier</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename = 'img/favicons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename = 'img/favicons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename = 'img/favicons/favicon-16x16.png')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename = 'img/favicons/favicon.ico')}}">
    <link rel="manifest" href="{{url_for('static', filename = 'img/favicons/manifest.json')}}">
    <meta name="msapplication-TileImage" content="{{url_for('static', filename = 'img/favicons/mstile-150x150.png')}}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="vendors/prism/prism.css" rel="stylesheet">
    <link href="vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/user.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/theme.css')}}" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="index.html"><img src="{{url_for('static', filename='img/Logo.png')}}" alt="" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa-solid fa-bars text-white fs-3"></i></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          </div>
        </div>
      </nav>
      <div class="bg-dark"><img class="img-fluid position-absolute end-0" src="{{url_for('static', filename='img/hero/hero-bg.png')}}" alt="" />


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section>

          <div class="container">
            <div class="row align-items-center py-lg-8 py-6">
              <div class="col-lg-6 text-center text-lg-start">
                <h1 class="text-white fs-5 fs-xl-6"><b>Enter any URL to check</b></h1>
                <p class="text-white py-lg-3 py-2">The URL you enter will be classified as a potential phishing risk or safe. This prediction is based on a trained machine learning model.</p>
                <form action="/url_test" method="POST">
                    <input type="text" class="form-control mb-2 border-light fs-1" name="url" placeholder="ENTER ANY URL TO TEST" required><br>
                    <input type="submit" class="btn btn-success text-dark fs-1" value="Test URL">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/" class="btn btn-outline-light fs-1">Go Back</a>
                </form> 
              </div>
              <div class="col-lg-6 text-center text-lg-end mt-3 mt-lg-0"><img class="img-fluid" src="{{url_for('static', filename='img/hero/hero-graphics.jpg')}}" alt="" /></div>
            </div>
          </div>
          <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->

      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-0" style="padding-bottom : 0">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-2 col-sm-2"><a href="index.html"><img class="img-fluid mt-5 mb-4" src="{{url_for('static', filename='img/brand logos/python-logo.png')}}" alt="" style="width:100px;"/></a></div>
          <div class="col-lg-2 col-sm-2"><a href="index.html"><img class="img-fluid mt-5 mb-4" src="{{url_for('static', filename='img/brand logos/numpy-logo.png')}}" alt="" style="width:100px;"/></a></div>
          <div class="col-lg-2 col-sm-2"><a href="index.html"><img class="img-fluid mt-5 mb-4" src="{{url_for('static', filename='img/brand logos/scikit-learn-logo.png')}}" alt="" style="width:100px"/></a></div>
          <div class="col-lg-2 col-sm-2"><a href="index.html"><img class="img-fluid mt-5 mb-4" src="{{url_for('static', filename='img/brand logos/mlflow-logo.png')}}" alt="" style="width:100px"/></a></div>
          <div class="col-lg-2 col-sm-2"><a href="index.html"><img class="img-fluid mt-5 mb-4" src="{{url_for('static', filename='img/brand logos/flask-logo.png')}}" alt="" style="width:100px"/></a></div>
          <div class="col-lg-2 col-sm-2"><a href="index.html"><img class="img-fluid mt-5 mb-4" src="{{url_for('static', filename='img/brand logos/mongo-db-logo.png')}}" alt="" style="width:100px"/></a></div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{{url_for('static', filename='vendors/popper/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/bootstrap/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/anchorjs/anchor.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/is/is.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/fontawesome/all.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/lodash/lodash.min.js')}}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{{url_for('static', filename='vendors/prism/prism.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/theme.js')}}"></script>

  </body>

</html>